@model arkAS.Areas.Motskin.Models.InvoiceViewModel

@{
    ViewBag.Title = "Управление счетами";
    var js = new System.Web.Script.Serialization.JavaScriptSerializer();
}

<select class='inContractorsTemplate hide'>
    <option value="0">Не выбрано</option>
    @foreach (var item in Model.Contractors)
    {
        <option value='@item.id'>@item.name</option>
    }
</select>

<div class='inStatusesTemplate hide'>
    @foreach (var item in Model.Statuses)
    {
        <div class="statusCont">
            <input type="checkbox" value='@item.id' id='svOurSup@(item.id)' />
            <label for='svOurSup@(item.id)'>@item.name</label>
        </div>
    }
            
</div>

@Html.Partial("_StatusHistoryModal")

<div class='invCont'>
</div>

@section js{
    <script type="text/javascript">
        var statuseSource = @Html.Raw(js.Serialize((Model.Statuses).Select(x => new { value = x.id, text = x.name, Selected = false })));
        var contractorSource = @Html.Raw(js.Serialize((Model.Contractors).Select(x => new { Value = x.id, Text = x.name, Selected = false })));
        var asdemo = {
            init: function () {
                asdemo.initMainTable();
            },

            basePathController: '/Motskin/Invoice/',

            initMainTable: function () {
                as.crud.init({
                    cont: $('.invCont'),
                    title: 'Редактирование и создание счетов',
                    toolbarAdditional: '',
                    groupOperationsToolbar: '',
                    ajaxURLFormat: asdemo.basePathController+'Invoices_{0}',
                    inlineAjaxURL: asdemo.basePathController+'ChangeInvoiceStatus',
                    pageSize: 15,
                    cookiePrefix: 'as-crud-m-inv-',
                    emptyText: 'Нет элементов',
                    createLinkTitle: 'Создать новый',
                    filterLinkTitle: 'Найти',
                    filterTitle: 'Фильтрация данных',
                    showChecksCol: false,
                    showNumsCol: true,
                    showToolbar: true,
                    showColSettings: false,
                    showReplaceTool: false,
                    showExcelExport: false,
                    additionalSort: false,
                    cols: [
                        { code: "id", title: "ID", tooltip: "Идентификатор", isVisible: false, isPK: true, datatype: "int", isRequired: false, editHide: true },
                        { code: "number", title: "Номер  документа", tooltip: "Номер  документа", isVisible: true, isPK: false, datatype: "string", isRequired: true, format: "{0}", isSort: true, callback: null },
                        { code: "date", title: "Дата создания", tooltip: "Дата создания", isVisible: true, isPK: false, datatype: "date", isRequired: false, format: "{0}", isSort: true, editHide: true, callback: null },
                        { code: "contractorName", title: "Контрагент", tooltip: "Контрагент", isVisible: true, isPK: false, datatype: "select", isRequired: true, format: "{0}", isSort: true,editSources: contractorSource,  callback: null },
                        {
                            code: "invoiceStatusName", title: "Статус", tooltip: "Статус", isVisible: true, isPK: false, datatype: "select", isRequired: false, format: "{0}", isSort: true,  editHide: true, editSources: statuseSource, callback: null,
                            editable: { type: "select", format: "{0}", source: statuseSource, callback: function (el, newValue) { } }
                        },
                        { code: "history", title: "История", tooltip: "Нажмите для получения истории смены статуса", isVisible: true, isPK: false, datatype: "string", isRequired: false, format: "История", editHide: true, isSort: false, callback: asdemo.showHistory },
                        { code: "comment", title: "Комментарий", tooltip: "Комментарий", isVisible: true, isPK: false, datatype: "string", isRequired: false, format: "{0}", isSort: false, callback: null },
                    ],
                    operations: {
                        create: true,
                        remove: true,
                        edit: true,
                        other: [
                        ]
                    },
                    getFilterMakeup: function (filter) {
                        var s = "";
                        s+=("<div class='crdFilterItem'><span class='gCap'>Номер счета</span><input type='text' class='inNum' value='" + (filter.number || '') + "' /></div>");

                        $('.inContractorsTemplate option').removeAttr('selected');
                        $('.inContractorsTemplate option[value=' + filter.contractorID + ']').attr('selected', 'selected');
                        s+=("<div class='crdFilterItem'><span class='gCap'>Контрагент</span><select class='inContractors'>" + $('.inContractorsTemplate').html() + "</select></div>");

                        $('.inStatusesTemplate input').removeAttr('checked');
                        if (filter.statusIDs) {
                            $.each(filter.statusIDs, function (i, item) {
                                $('.inStatusesTemplate input[value=' + item + ']').attr('checked', 'checked');
                            })
                        }
                        s+=("<div class='crdFilterItem'><span class='gCap'>Статус</span><div class='invStatuses'>" + $('.inStatusesTemplate').html() + "</div></div>");
                        return s;
                    },
                    filter: function () {
                        var statusIDs = [];
                        $('.invStatuses input:checked').each(function () {
                            statusIDs.push($(this).attr('value'));
                        });

                        var strStatusIDs = statusIDs.length >0 ? statusIDs.join(';') : '';
                        var filter = {
                            number: $('.inNum').val() || "",
                            contractorID: $('.inContractors option:selected').val(),
                            statusIDs: statusIDs,
                            strStatusIDs: strStatusIDs
                        };
                        return filter;
                    }
                });
            },
            showHistory:function(sender) 
            {
                var params = { id: $(sender).closest('tr').attr('data-itemid') };
                as.sys.ajaxSend(asdemo.basePathController+'LogInvoiceStatuses', params, function(data) 
                {
                    if (data.items) {
                        var s = "";
                        s+="<table class='table'><thead><tr><th>Статус</th><th>Дата</th><th>Примечание</th></thead>";
                        s+="<tbody>";
                        for (var i=0; i<data.items.length;i++)
                        {
                            var item = data.items[i];
                            s+=("<tr><td>"+item.status+"</td>");
                            s+=("<td>"+item.created+"</td>");
                            s+=("<td>"+item.note+"</td></tr>");
                        }
                        s+="</tbody></table>";

                        var modalWindow = $('#statusHistoryModal');
                        $('.modal-body', modalWindow).html(s);
                        modalWindow.modal('show');
                    } else {
                        as.sys.bootstrapAlert("Возникли ошибки при выполнении операции!", { type: 'danger' });
                    }
                });
            }
        }
        $(function () {
            asdemo.init();

        });
    </script>

}